body{
    /*background-color: rgb(33, 41 44);*/
    background-color: rgb(33, 41, 44);
}

nav{
    background-color: rgb(42, 52, 56);
    /*border: 3px solid rgb(42, 52, 56);*/
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#left
{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    float: left;
}

#mid
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#right
{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    float: right;
}

#page
{
    margin-top: 85px;
}